<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/output.css">

</head>
<body>
    <div class = "w-full h-screen bg-zinc-900 text-white p-6">
        <h1 class="text-3xl mb-3 ">Login your Account</h1>
        <h4 class="mb-4 text-sky-500"><a href="/signup">Sign Up?</a></h4>
        <form action="/login" method="post">
            <input class="px-3 py-2 mx-1 bg-tranparent outline-none rounded-md text-black" required type="email" name = "email" placeholder="email">
            <input class="px-3 py-2 mx-1 bg-tranparent outline-none rounded-md text-black" required type="password" name = "password" placeholder="password">
            <input class="px-3 py-2 mx-1 bg-blue-500 text-white outline-none rounded-md text-black" type="submit" value="Login">
        </form>
    </div>
</body>
</html>
